examples/Read state of all cars.json
[{"id":"50743fa0.f3ba5","type":"inject","z":"77482163.aa1be","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":120,"wires":[["83f261b6.ae49b"]]},{"id":"83f261b6.ae49b","type":"car-bmw-list","z":"77482163.aa1be","account":"20974e09.9f9e82","name":"","as":"multi","x":380,"y":120,"wires":[["14e76857.f58c78","cb4090a2.e4aac8"]]},{"id":"14e76857.f58c78","type":"debug","z":"77482163.aa1be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":160,"wires":[]},{"id":"26e62839.e6ff8","type":"car-bmw-get","z":"77482163.aa1be","account":"20974e09.9f9e82","name":"","datatype":"state","x":770,"y":120,"wires":[["717a63b8.7347e4"]]},{"id":"717a63b8.7347e4","type":"debug","z":"77482163.aa1be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":120,"wires":[]},{"id":"cb4090a2.e4aac8","type":"function","z":"77482163.aa1be","name":"","func":"var newMsg = {\n    \"vin\": msg.payload.vin\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":120,"wires":[["26e62839.e6ff8"]]},{"id":"a2371e86215387fb","type":"comment","z":"77482163.aa1be","name":"Example: Read state of all cars of the ConnectedDrive account","info":"","x":260,"y":80,"wires":[]},{"id":"20974e09.9f9e82","type":"car-bmw","name":"","region":"0","unit":"metric","debug":true}]
