examples/Set AC limit and battery target level.json
[{"id":"f836278c59e8bd77","type":"function","z":"77482163.aa1be","name":"Set ac limit and target value","func":"\nmsg.payload = {\n    \"chargingTarget\": 80, \n    \"acLimitValue\": 6\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":2580,"wires":[["98cdd5e0ecf56e2b"]]},{"id":"dc3ed992da4ec921","type":"inject","z":"77482163.aa1be","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":2580,"wires":[["f836278c59e8bd77"]]},{"id":"98cdd5e0ecf56e2b","type":"car-bmw-action","z":"77482163.aa1be","account":"20974e09.9f9e82","name":"","action":"CHANGE_CHARGING_SETTINGS","x":660,"y":2580,"wires":[["6a3422370f80fdd9"]]},{"id":"6a3422370f80fdd9","type":"debug","z":"77482163.aa1be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":2580,"wires":[]},{"id":"31bc49d40ae0a984","type":"comment","z":"77482163.aa1be","name":"Example: Change AC Limit and battery target value","info":"","x":210,"y":2520,"wires":[]},{"id":"20974e09.9f9e82","type":"car-bmw","name":"","region":"0","unit":"metric","debug":true}]
